@import '~todomvc-app-css';

// stylelint-disable-next-line scss/media-feature-value-dollar-variable
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0d1117;
  }
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: inherit;
}

#app {
  margin: 0 auto;
}

.container {
  text-align: center;
}

.lists {
  padding: 0;
  text-align: left;
  list-style: none;
  width: 300px;
  margin: 0 auto 30px;

  li {
    margin-bottom: 8px;
  }

  label {
    display: block;
    margin-bottom: 5px;

    &:after {
      content: ':';
    }
  }

  input {
    &[type='color'] {
      padding: 0;
    }
  }

  textarea {
    width: 100%;
  }
}
